#control-center{
    min-height: 250px;
    max-width: 300px;
    border: 2px solid gray;
    place-items: center;
    display: flex;
    background-color: wheat;
    justify-content: space-evenly;
    
}

#get-btn{
    padding: 15px;
    font-size: 15px;
    background-color: indigo;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
}

#post-btn{
    padding: 15px;
    font-size: 15px;
    background-color: indigo;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
}